# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
nextjs-tutoring/node_modules
node_modules
nextjs-tutoring/.pnp
nextjs-tutoring/.pnp.js

# testing
nextjs-tutoring/coverage

# production
nextjs-tutoring/build

# misc
nextjs-tutoring/.DS_Store
nextjs-tutoring/.env.local
nextjs-tutoring/.env.development.local
nextjs-tutoring/.env.test.local
nextjs-tutoring/.env.production.local
nextjs-tutoring/npm-debug.log*
nextjs-tutoring/yarn-debug.log*
nextjs-tutoring/yarn-error.log*
nextjs-tutoring/.next/static/webpack/*