# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
tutor_platform/node_modules
tutor_platform/.pnp
tutor_platform/.pnp.js

# testing
tutor_platform/coverage

# production
tutor_platform/build

# misc
tutor_platform/.DS_Store
tutor_platform/.env.local
tutor_platform/.env.development.local
tutor_platform/.env.test.local
tutor_platform/.env.production.local

tutor_platform/npm-debug.log*
tutor_platform/yarn-debug.log*
tutor_platform/yarn-error.log*
