.mainContent {
    margin-left: 25%;
    padding: 20px;
    width: 75%;
    background-color: #f8f9fa;
    min-height: 100vh;
  }
  
  @media (max-width: 768px) {
    .mainContent {
      margin-left: 0;
      width: 100%;
    }
  }