.studentsPage {
    padding: 20px;
  }
  
  .studentsList {
    list-style-type: none;
    padding: 0;
  }
  
  .studentItem {
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
  }